<div class="container">
  <div class="row">
    <div class="col-12 p-5 text-center">
      <h2> ATM Simulator </h2>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-4 p-3 shadow br-15">
      <div class="row justify-content-end">
        <div class="col-12">
          <div class="p-3 text-right">
            <h4> {{ currency }}{{ amount }} </h4>
          </div>
        </div>
        <div class="col-4 text-center" *ngFor="let number of numbers">
          <div class="p-3">
              <button type="button" (click)="setAmount(number)" class="btn btn-light btn-lg rounded-circle"> {{ number }} </button>
          </div>
        </div>
        <div class="col-4 text-center">
            <div class="p-3">
              <button type="button" (click)="clearAmount()" class="btn btn-light btn-lg rounded-circle"> <i class="fa fa-window-close-o"></i> </button>
            </div>
        </div>
      </div>
      <div class="row justify-content-center mt-3">
        <div class="col-10">
          <div>
            <button type="button" [disabled]="amount == '$0'" (click)="withdraw()" class="btn btn-outline-primary btn-block"> Withdraw </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="resultModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="resultModalLabel">
                  Success
                </h5>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                      <div class="col-12 pb-3">
                        <div class="modal-text">
                            Please take your cash 
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="modal-text" *ngFor="let res of result">
                          <i class="fa fa-money money"></i>
                          {{ currency }}{{ res.banknoteValue }} x {{ res.quantity }}
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" #closeModalBtn>
                    Close
                </button>
            </div>
        </div>
    </div>
</div>


